<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenence</title>
</head>
<body>
    <h1 style="text-align: center">Sorry for the inconvinience.</h1>
    <p style="text-align: center; font-size: 18px;">Currently we are updating the app to make your experience better. <br> We will be right back shortly.</p>
    <p style="text-align: center"><b>Thank you.</b></p>
</body>
</html>